<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Python Quiz</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <h1>Python Quiz</h1>

    <nav>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </nav>
</header>

<div class="container">

    <h2>AI Python Quiz</h2>

    <form action="/submit_python" method="POST">

        {% for q in questions %}

        <div class="question">

            <h3>
                Q{{ loop.index }}. {{ q.question }}
            </h3>

            {% for option in q.options %}

            <label class="quiz-option">

                <input
                    type="radio"
                    name="q{{ loop.index0 }}"
                    value="{{ option }}"
                    required
                >

                {{ option }}

            </label>

            {% endfor %}

            <hr>

        </div>

        {% endfor %}

        <button type="submit">
            Submit Quiz
        </button>

    </form>

</div>

</body>
</html>